## Import Necessary Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('WorldBank-Renewable Energy Consumption (SVZ2022).xlsx')
df.head()

,Country Name,Country Code,Region,IncomeGroup,Indicator Name,Indicator Code,1990,1991,1992,1993,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,Latin America & Caribbean,High income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,0.268747,0.234955,0.238778,0.195134,...,0.299800,5.464700,5.661800,6.855900,6.889700,6.927500,6.728000,6.994600,6.6993,8.024100
1,Africa Eastern and Southern,AFE,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,61.625965,62.876319,64.636541,65.291676,...,61.252554,62.564529,62.293842,61.109554,60.468838,60.803934,61.097264,NaN,NaN,NaN
2,Afghanistan,AFG,South Asia,Low income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,15.924532,17.036444,26.521629,30.585667,...,17.850401,14.899000,11.559100,14.404900,17.105000,20.770300,20.273800,24.740299,25.0828,21.422701
3,Africa Western and Central,AFW,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,86.082214,85.443014,83.983071,85.305307,...,82.615425,80.933623,79.525293,79.071007,77.544229,76.276143,76.967527,NaN,NaN,NaN
4,Angola,AGO,Sub-Saharan Africa,Lower middle income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,72.255252,71.888639,72.723283,71.277056,...,52.413898,50.764801,49.239201,49.443298,47.938499,48.211300,47.815601,49.008099,56.1805,56.785500

### Assessing Data

-Some entry in the country name column are not names of countries but are in fact region names or groups of countries.

-There are missing values for the energy consumption in the year columns and IncomeGroup column.

-Wrong spelling of some country names = ['Yemen, Rep.', 'Venezuela, RB', 'Korea, Rep.', 'Iran, Islamic Rep.', 'Gambia, The', 'Egypt, Arab Rep.', 'Congo, Rep.', 'Congo, Dem. Rep.', 'Bahamas, The', ]

-The year columns (1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018) should infact be one column; the Energy consumption column.

In [3]:
df.sample(20)

,Country Name,Country Code,Region,IncomeGroup,Indicator Name,Indicator Code,1990,1991,1992,1993,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
55,Germany,DEU,Europe & Central Asia,High income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,2.098034,1.988633,2.062622,2.110931,...,10.717000,11.606000,12.543800,13.641900,13.627700,14.024700,14.550300,14.241400,15.215900,15.795600
56,Djibouti,DJI,Middle East & North Africa,Lower middle income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,26.592830,27.205443,28.174506,29.050741,...,34.000000,32.544300,33.933800,32.482800,34.039902,30.817200,28.180201,24.910801,24.129101,27.835800
9,Argentina,ARG,Latin America & Caribbean,Upper middle income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,8.922907,8.748184,9.471650,10.128342,...,8.591000,8.787500,8.833100,8.611800,8.913400,9.781400,9.393200,9.376900,10.368500,10.520800
28,Bolivia,BOL,Latin America & Caribbean,Lower middle income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,37.359002,38.281542,37.052650,37.235445,...,16.516600,15.638900,13.806300,13.059300,12.309400,10.769800,8.198600,8.141600,7.460800,7.572500
142,Late-demographic dividend,LTE,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,19.569854,19.752601,20.476461,20.645933,...,15.094027,14.261375,13.586764,13.724096,13.772749,14.003443,14.046773,NaN,NaN,NaN
200,Qatar,QAT,Middle East & North Africa,High income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
221,Slovak Republic,SVK,Europe & Central Asia,High income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,2.225336,2.086784,2.318613,4.104215,...,9.998600,10.278900,10.357100,10.472000,10.677500,12.241900,13.408500,13.090600,12.433800,12.420400
179,Nauru,NRU,East Asia & Pacific,High income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,0.000000,0.000000,0.000000,0.000000,...,0.084600,0.083700,0.092600,0.070800,0.060100,0.054800,0.104500,0.175700,0.602200,0.656800
193,"Korea, Dem. People's Rep.",PRK,East Asia & Pacific,Low income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,7.189592,7.538103,7.739543,7.998527,...,12.302300,13.467100,18.070400,17.679300,23.791300,21.018700,23.107201,21.920799,27.473000,33.661499
116,Italy,ITA,Europe & Central Asia,High income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,3.781463,4.669413,4.839463,4.771495,...,12.539300,12.793500,11.904000,14.390700,16.319500,17.131599,16.570499,16.092199,16.431499,17.074301
82,Georgia,GEO,Europe & Central Asia,Upper middle income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,12.773998,14.118751,18.542052,26.026188,...,36.718498,39.145599,31.534700,28.689699,33.163601,31.344400,28.148500,27.645300,28.033300,27.943600
261,Kosovo,XKX,Europe & Central Asia,Upper middle income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,...,20.924200,20.925400,19.723301,20.866301,20.900700,21.465300,20.454901,26.647100,25.177401,26.902000
255,British Virgin Islands,VGB,Latin America & Caribbean,High income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,1.453020,1.564265,1.222509,1.329560,...,0.729600,0.712700,0.891400,0.911000,0.968300,1.004100,1.000000,1.014300,1.268400,1.360100
119,Japan,JPN,East Asia & Pacific,High income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,4.550664,4.730569,4.197715,4.435607,...,4.512800,4.794000,4.940300,4.795700,5.157400,5.719900,6.323400,6.359800,6.974500,7.387700
262,"Yemen, Rep.",YEM,Middle East & North Africa,Low income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,2.148638,1.709434,1.580226,1.792120,...,0.877400,0.978600,1.155500,1.351700,0.945900,0.955600,2.419500,2.986100,3.401300,4.269000
249,Upper middle income,UMC,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,19.577590,19.763841,20.382427,20.386185,...,14.615428,13.975748,13.156737,13.214734,13.316129,13.585361,13.772634,NaN,NaN,NaN
258,Vanuatu,VUT,East Asia & Pacific,Lower middle income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,24.157967,24.923820,26.954290,27.120206,...,38.793598,38.397400,35.994202,39.283199,41.255299,31.739599,35.538601,32.721001,36.556000,30.777000
228,Turks and Caicos Islands,TCA,Latin America & Caribbean,High income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,1.792109,1.078650,0.584361,0.953858,...,0.531700,0.524100,0.593200,0.588100,0.603200,0.576700,0.572200,0.549600,0.512300,0.509600
108,Isle of Man,IMN,Europe & Central Asia,High income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,...,1.867300,1.934300,2.848400,3.495000,2.059900,1.851800,2.166900,1.959600,1.881600,2.110500
66,Ecuador,ECU,Latin America & Caribbean,Upper middle income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,24.198549,24.163099,20.800359,21.618483,...,12.874500,11.787900,13.154100,13.201700,11.847600,12.178300,13.073600,14.754100,17.051300,16.330200

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 35 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Region          217 non-null    object
 3   IncomeGroup     216 non-null    object
 4   Indicator Name  266 non-null    object
 5   Indicator Code  266 non-null    object
 6   1990            245 non-null    float64
 7   1991            246 non-null    float64
 8   1992            251 non-null    float64
 9   1993            251 non-null    float64
 10  1994            251 non-null    float64
 11  1995            252 non-null    float64
 12  1996            252 non-null    float64
 13  1997            252 non-null    float64
 14  1998            252 non-null    float64
 15  1999            252 non-null    float64
 16  2000            261 non-null    float64
 17  2001            261 non-null    float64
 18  2002            261 non-null    float64
 19  2003            261 non-null    float64
 20  2004            261 non-null    float64
 21  2005            261 non-null    float64
 22  2006            261 non-null    float64
 23  2007            261 non-null    float64
 24  2008            261 non-null    float64
 25  2009            261 non-null    float64
 26  2010            261 non-null    float64
 27  2011            261 non-null    float64
 28  2012            261 non-null    float64
 29  2013            261 non-null    float64
 30  2014            261 non-null    float64
 31  2015            261 non-null    float64
 32  2016            213 non-null    float64
 33  2017            213 non-null    float64
 34  2018            213 non-null    float64
dtypes: float64(29), object(6)
memory usage: 72.9+ KB

In [5]:
df.describe()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
count,245.000000,246.000000,251.000000,251.000000,251.000000,252.000000,252.000000,252.000000,252.000000,252.000000,...,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,213.000000,213.000000,213.000000
mean,32.598794,32.768285,32.757817,32.946164,32.993543,33.006147,32.740793,32.248860,32.023775,32.051153,...,30.126091,29.909565,29.649879,29.789975,30.002303,29.766737,29.566593,28.951519,28.796227,28.839274
std,32.229454,32.278495,32.214425,32.107499,31.885445,31.716456,31.455699,31.107035,30.929070,30.731314,...,29.305611,28.895407,28.612586,28.394922,28.207866,27.975979,27.739581,27.971250,27.776419,27.522908
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.356079,3.792044,3.750254,4.071156,3.944881,3.972484,3.733995,4.017442,4.157209,4.312104,...,5.123100,5.464700,5.928300,5.755700,6.248692,6.606022,6.824000,4.916900,5.293100,5.858600
50%,22.020754,22.677543,21.592320,23.825326,23.867820,23.322402,21.650945,21.563394,21.733304,21.942044,...,18.473400,19.765400,18.587400,19.619301,20.722799,21.219601,20.812901,20.787600,19.475100,20.863899
75%,59.282152,59.242763,59.563014,59.494208,60.448794,60.050634,60.059075,58.353581,57.003882,57.459843,...,51.267200,50.264400,48.872799,49.443298,48.132599,47.698299,48.109501,46.478298,45.380100,43.972301
max,98.163527,98.303706,98.228176,98.173799,98.123684,98.138524,98.088584,97.923782,97.601224,97.300358,...,97.019302,96.802498,96.209602,95.474800,94.390297,94.634102,95.818298,97.031097,96.699799,96.383698

In [6]:
df.duplicated().sum()

0

In [7]:
df.isnull().sum()

Country Name       0
Country Code       0
Region            49
IncomeGroup       50
Indicator Name     0
Indicator Code     0
1990              21
1991              20
1992              15
1993              15
1994              15
1995              14
1996              14
1997              14
1998              14
1999              14
2000               5
2001               5
2002               5
2003               5
2004               5
2005               5
2006               5
2007               5
2008               5
2009               5
2010               5
2011               5
2012               5
2013               5
2014               5
2015               5
2016              53
2017              53
2018              53
dtype: int64

In [8]:
df['Country Name'].duplicated().sum()

0

In [9]:
df['Country Name'].values

array(['Aruba', 'Africa Eastern and Southern', 'Afghanistan',
       'Africa Western and Central', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Dominica',
       'Denmark', 'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.',
       'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Fragile and conflict affected situations',
       'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China',
       'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia',
       'Haiti', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India',
       'Not classified', 'Ireland', 'Iran, Islamic Rep.', 'Iraq',
       'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Kiribati',
       'St. Kitts and Nevis', 'Korea, Rep.', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives', 'Middle East & North Africa', 'Mexico',
       'Marshall Islands', 'Middle income', 'North Macedonia', 'Mali',
       'Malta', 'Myanmar',
       'Middle East & North Africa (excluding high income)', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'Nauru', 'New Zealand', 'OECD members', 'Oman',
       'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Palau', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend',
       'Puerto Rico', "Korea, Dem. People's Rep.", 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'Pacific island small states',
       'Post-demographic dividend', 'French Polynesia', 'Qatar',
       'Romania', 'Russian Federation', 'Rwanda', 'South Asia',
       'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia', 'Serbia',
       'Sub-Saharan Africa (excluding high income)', 'South Sudan',
       'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Eswatini',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Timor-Leste', 'Middle East & North Africa (IDA & IBRD countries)',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Upper middle income', 'Uruguay', 'United States', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Virgin Islands (U.S.)', 'Vietnam',
       'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen, Rep.',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [10]:
df['Country Code'].values

array(['ABW', 'AFE', 'AFG', 'AFW', 'AGO', 'ALB', 'AND', 'ARB', 'ARE',
       'ARG', 'ARM', 'ASM', 'ATG', 'AUS', 'AUT', 'AZE', 'BDI', 'BEL',
       'BEN', 'BFA', 'BGD', 'BGR', 'BHR', 'BHS', 'BIH', 'BLR', 'BLZ',
       'BMU', 'BOL', 'BRA', 'BRB', 'BRN', 'BTN', 'BWA', 'CAF', 'CAN',
       'CEB', 'CHE', 'CHI', 'CHL', 'CHN', 'CIV', 'CMR', 'COD', 'COG',
       'COL', 'COM', 'CPV', 'CRI', 'CSS', 'CUB', 'CUW', 'CYM', 'CYP',
       'CZE', 'DEU', 'DJI', 'DMA', 'DNK', 'DOM', 'DZA', 'EAP', 'EAR',
       'EAS', 'ECA', 'ECS', 'ECU', 'EGY', 'EMU', 'ERI', 'ESP', 'EST',
       'ETH', 'EUU', 'FCS', 'FIN', 'FJI', 'FRA', 'FRO', 'FSM', 'GAB',
       'GBR', 'GEO', 'GHA', 'GIB', 'GIN', 'GMB', 'GNB', 'GNQ', 'GRC',
       'GRD', 'GRL', 'GTM', 'GUM', 'GUY', 'HIC', 'HKG', 'HND', 'HPC',
       'HRV', 'HTI', 'HUN', 'IBD', 'IBT', 'IDA', 'IDB', 'IDN', 'IDX',
       'IMN', 'IND', 'INX', 'IRL', 'IRN', 'IRQ', 'ISL', 'ISR', 'ITA',
       'JAM', 'JOR', 'JPN', 'KAZ', 'KEN', 'KGZ', 'KHM', 'KIR', 'KNA',
       'KOR', 'KWT', 'LAC', 'LAO', 'LBN', 'LBR', 'LBY', 'LCA', 'LCN',
       'LDC', 'LIC', 'LIE', 'LKA', 'LMC', 'LMY', 'LSO', 'LTE', 'LTU',
       'LUX', 'LVA', 'MAC', 'MAF', 'MAR', 'MCO', 'MDA', 'MDG', 'MDV',
       'MEA', 'MEX', 'MHL', 'MIC', 'MKD', 'MLI', 'MLT', 'MMR', 'MNA',
       'MNE', 'MNG', 'MNP', 'MOZ', 'MRT', 'MUS', 'MWI', 'MYS', 'NAC',
       'NAM', 'NCL', 'NER', 'NGA', 'NIC', 'NLD', 'NOR', 'NPL', 'NRU',
       'NZL', 'OED', 'OMN', 'OSS', 'PAK', 'PAN', 'PER', 'PHL', 'PLW',
       'PNG', 'POL', 'PRE', 'PRI', 'PRK', 'PRT', 'PRY', 'PSE', 'PSS',
       'PST', 'PYF', 'QAT', 'ROU', 'RUS', 'RWA', 'SAS', 'SAU', 'SDN',
       'SEN', 'SGP', 'SLB', 'SLE', 'SLV', 'SMR', 'SOM', 'SRB', 'SSA',
       'SSD', 'SSF', 'SST', 'STP', 'SUR', 'SVK', 'SVN', 'SWE', 'SWZ',
       'SXM', 'SYC', 'SYR', 'TCA', 'TCD', 'TEA', 'TEC', 'TGO', 'THA',
       'TJK', 'TKM', 'TLA', 'TLS', 'TMN', 'TON', 'TSA', 'TSS', 'TTO',
       'TUN', 'TUR', 'TUV', 'TZA', 'UGA', 'UKR', 'UMC', 'URY', 'USA',
       'UZB', 'VCT', 'VEN', 'VGB', 'VIR', 'VNM', 'VUT', 'WLD', 'WSM',
       'XKX', 'YEM', 'ZAF', 'ZMB', 'ZWE'], dtype=object)

In [11]:
df['Country Code'].duplicated().sum()

0

In [12]:
df['Region'].value_counts()

Europe & Central Asia         58
Sub-Saharan Africa            48
Latin America & Caribbean     42
East Asia & Pacific           37
Middle East & North Africa    21
South Asia                     8
North America                  3
Name: Region, dtype: int64

In [13]:
df['IncomeGroup'].value_counts()

High income            79
Upper middle income    55
Lower middle income    55
Low income             27
Name: IncomeGroup, dtype: int64

In [14]:
df['Indicator Name'].value_counts()

Renewable energy consumption (% of total final energy consumption)    266
Name: Indicator Name, dtype: int64

In [15]:
df['Indicator Code'].value_counts()

EG.FEC.RNEW.ZS    266
Name: Indicator Code, dtype: int64

In [16]:
df[df['IncomeGroup'].isnull()]

,Country Name,Country Code,Region,IncomeGroup,Indicator Name,Indicator Code,1990,1991,1992,1993,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,Africa Eastern and Southern,AFE,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,61.625965,62.876319,64.636541,65.291676,...,61.252554,62.564529,62.293842,61.109554,60.468838,60.803934,61.097264,NaN,NaN,NaN
3,Africa Western and Central,AFW,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,86.082214,85.443014,83.983071,85.305307,...,82.615425,80.933623,79.525293,79.071007,77.544229,76.276143,76.967527,NaN,NaN,NaN
7,Arab World,ARB,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,7.344358,7.284093,6.912966,6.737793,...,5.035353,4.786074,4.658074,4.240290,4.301413,4.179762,4.080760,NaN,NaN,NaN
36,Central Europe and the Baltics,CEB,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,4.142354,4.795174,5.380893,7.214146,...,13.751427,14.541560,14.744128,15.684259,16.656570,17.063872,17.120139,NaN,NaN,NaN
49,Caribbean small states,CSS,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,10.273789,9.039717,10.344237,11.669509,...,7.855810,7.709198,8.720716,8.261986,7.388844,6.922544,6.907744,NaN,NaN,NaN
61,East Asia & Pacific (excluding high income),EAP,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,36.997406,36.303304,35.945328,34.566435,...,17.116919,15.699389,14.597219,14.664944,14.659231,15.037225,14.894643,NaN,NaN,NaN
62,Early-demographic dividend,EAR,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,37.071102,36.584663,36.469449,36.132077,...,27.122676,26.522378,25.890315,25.157207,25.232119,24.357457,23.934984,NaN,NaN,NaN
63,East Asia & Pacific,EAS,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,26.196254,25.765811,25.328606,24.585475,...,14.135058,13.159143,12.432295,12.540912,12.651730,13.116829,13.092274,NaN,NaN,NaN
64,Europe & Central Asia (excluding high income),ECA,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,4.042819,4.145023,4.481847,4.868276,...,5.894348,6.020626,5.529542,5.755700,6.248692,5.935538,6.307842,NaN,NaN,NaN
65,Europe & Central Asia,ECS,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,5.706920,5.868787,6.226814,6.642125,...,10.510408,10.983409,10.831462,11.713402,12.424051,12.593485,13.030476,NaN,NaN,NaN
68,Euro area,EMU,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,6.499472,6.709472,6.798441,6.907459,...,12.437192,13.231562,13.394966,14.834272,15.624725,16.248797,16.212301,NaN,NaN,NaN
73,European Union,EUU,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,6.895465,7.184663,7.465088,7.894856,...,13.694565,14.520748,14.731722,16.159103,16.881354,17.544724,17.676366,NaN,NaN,NaN
74,Fragile and conflict affected situations,FCS,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,57.269017,57.960335,59.876214,60.404916,...,62.233442,60.339228,60.938935,59.893868,59.943407,59.784765,63.218929,NaN,NaN,NaN
95,High income,HIC,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,6.413609,6.600225,6.711624,6.634023,...,9.413578,9.632090,10.104066,10.619575,11.043251,11.265833,11.356912,NaN,NaN,NaN
98,Heavily indebted poor countries (HIPC),HPC,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,85.991263,86.899313,87.424430,87.935399,...,80.662773,79.576302,78.793652,78.003299,78.014187,77.670159,76.897096,NaN,NaN,NaN
102,IBRD only,IBD,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,23.014929,23.157246,23.803813,24.064792,...,18.415067,17.620326,16.826794,16.713249,16.756756,16.653247,16.576134,NaN,NaN,NaN
103,IDA & IBRD total,IBT,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,27.604034,27.804153,28.620895,28.952626,...,23.989631,23.117067,22.299107,22.151081,22.188282,22.042268,22.045576,NaN,NaN,NaN
104,IDA total,IDA,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,67.137540,67.224585,68.378775,68.988499,...,67.621449,67.150947,66.265731,66.189857,66.567556,65.774530,66.025912,NaN,NaN,NaN
105,IDA blend,IDB,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,59.282152,59.003998,59.577656,59.646337,...,62.884359,62.914165,61.452081,61.828534,62.141335,60.820677,61.683327,NaN,NaN,NaN
107,IDA only,IDX,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,75.454072,76.124055,78.070583,79.544910,...,72.174722,71.210537,70.936219,70.563431,70.804530,70.400454,70.099409,NaN,NaN,NaN
110,Not classified,INX,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,Latin America & Caribbean (excluding high income),LAC,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,34.629341,33.819420,33.350538,32.943911,...,31.052803,30.470028,29.670655,29.038821,28.806688,28.970507,29.157222,NaN,NaN,NaN
134,Latin America & Caribbean,LCN,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,32.439162,31.881470,31.638714,31.042068,...,29.471947,28.566880,28.201681,27.546699,27.594465,27.427393,27.944871,NaN,NaN,NaN
135,Least developed countries: UN classification,LDC,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,86.050319,86.437652,86.719070,87.127811,...,77.350046,76.012306,75.301224,74.544148,74.089802,73.434810,73.375573,NaN,NaN,NaN
136,Low income,LIC,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,59.667729,60.955935,63.484187,65.392183,...,69.441559,69.329967,71.450285,72.693434,74.631990,74.351481,76.942140,NaN,NaN,NaN
139,Lower middle income,LMC,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,43.609812,43.163120,43.813950,44.938141,...,38.231239,37.355547,36.602960,36.158914,35.750919,34.624005,33.968443,NaN,NaN,NaN
140,Low & middle income,LMY,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,28.138727,28.335405,29.178354,29.492169,...,24.210243,23.353082,22.480611,22.325379,22.329190,22.214359,22.177282,NaN,NaN,NaN
142,Late-demographic dividend,LTE,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,19.569854,19.752601,20.476461,20.645933,...,15.094027,14.261375,13.586764,13.724096,13.772749,14.003443,14.046773,NaN,NaN,NaN
153,Middle East & North Africa,MEA,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,2.859288,2.786631,2.700649,2.682570,...,1.936411,1.889130,1.835723,1.621084,1.646206,1.557814,1.523319,NaN,NaN,NaN
156,Middle income,MIC,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,26.940928,27.099848,27.877349,28.141234,...,22.523880,21.688248,20.794691,20.703241,20.646924,20.506537,20.440419,NaN,NaN,NaN
161,Middle East & North Africa (excluding high inc...,MNA,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,4.043213,3.930851,3.780211,3.799988,...,2.714263,2.701726,2.634232,2.598860,2.633160,2.490785,2.466341,NaN,NaN,NaN
170,North America,NAC,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,6.157156,6.447523,6.662215,6.221307,...,9.028890,8.985745,9.870427,10.239001,10.575957,10.678374,10.525868,NaN,NaN,NaN
181,OECD members,OED,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,7.220897,7.364893,7.482935,7.423763,...,10.225925,10.478041,10.967187,11.532183,12.015863,12.249294,12.372291,NaN,NaN,NaN
183,Other small states,OSS,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,26.950029,27.779992,30.207671,30.388066,...,31.080792,30.938075,28.660991,26.115152,28.767960,26.690851,26.976085,NaN,NaN,NaN
191,Pre-demographic dividend,PRE,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,78.283356,79.698264,77.963006,78.305695,...,77.742565,75.782461,74.132949,73.247424,72.415701,72.694557,73.726969,NaN,NaN,NaN
197,Pacific island small states,PSS,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,47.700166,52.622382,47.727036,47.963335,...,31.790696,28.242567,29.935504,30.442240,30.682411,30.873194,30.349539,NaN,NaN,NaN
198,Post-demographic dividend,PST,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,6.344831,6.529914,6.646402,6.525873,...,9.659431,9.931272,10.410295,11.023734,11.495403,11.828090,11.980723,NaN,NaN,NaN
204,South Asia,SAS,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,60.004701,59.242763,58.659164,58.166853,...,43.887766,42.976216,42.273029,41.283531,40.513676,38.566845,36.880696,NaN,NaN,NaN
215,Sub-Saharan Africa (excluding high income),SSA,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,71.143767,71.802316,72.436504,73.345647,...,69.794853,70.133451,69.414592,68.687847,67.582528,67.144583,67.624604,NaN,NaN,NaN
217,Sub-Saharan Africa,SSF,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,71.134637,71.791139,72.425606,73.333895,...,69.769070,70.112989,69.401623,68.669023,67.567048,67.128842,67.608723,NaN,NaN,NaN
218,Small states,SST,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,23.999129,24.832201,26.782388,27.425566,...,26.957824,26.856208,25.162100,23.028079,25.076006,23.403277,23.719081,NaN,NaN,NaN
230,East Asia & Pacific (IDA & IBRD countries),TEA,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,38.039122,37.211555,36.732873,35.228009,...,17.155018,15.714818,14.579571,14.649544,14.625690,15.013599,14.869025,NaN,NaN,NaN
231,Europe & Central Asia (IDA & IBRD countries),TEC,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,4.065451,4.183626,4.479891,5.090373,...,6.352630,6.541817,6.115343,6.373438,6.900458,6.606022,6.989087,NaN,NaN,NaN
236,Latin America & the Caribbean (IDA & IBRD coun...,TLA,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,32.228948,31.599077,31.310622,30.922883,...,29.844754,28.951072,28.517634,27.833792,27.888093,27.653189,28.211042,NaN,NaN,NaN
238,Middle East & North Africa (IDA & IBRD countries),TMN,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,3.977313,3.867290,3.720297,3.740641,...,2.666911,2.660704,2.591860,2.561464,2.597668,2.450085,2.423834,NaN,NaN,NaN
240,South Asia (IDA & IBRD),TSA,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,60.004701,59.242763,58.659164,58.166853,...,43.887766,42.976216,42.273029,41.283531,40.513676,38.566845,36.880696,NaN,NaN,NaN
241,Sub-Saharan Africa (IDA & IBRD countries),TSS,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,71.134637,71.791139,72.425606,73.333895,...,69.769070,70.112989,69.401623,68.669023,67.567048,67.128842,67.608723,NaN,NaN,NaN
249,Upper middle income,UMC,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,19.577590,19.763841,20.382427,20.386185,...,14.615428,13.975748,13.156737,13.214734,13.316129,13.585361,13.772634,NaN,NaN,NaN
254,"Venezuela, RB",VEN,Latin America & Caribbean,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,11.977330,13.193556,14.106694,13.185523,...,16.213301,13.791000,14.757200,13.706400,15.288000,12.004200,15.329400,14.5054,14.3104,14.5647
259,World,WLD,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,17.067154,17.223819,17.584334,17.598437,...,17.497918,17.149640,17.082845,17.269446,17.480639,17.571792,17.637256,NaN,NaN,NaN

### Cleaning Data

#### Some entry in the country name column are not names of countries but are in fact region names or groups of countries.

#### Code
Drop entries in the country name column that are not names of countries.

In [17]:
df_clean = df.copy()

In [18]:
drop_rows = ['Africa Eastern and Southern', 'Arab World', 'Africa Western and Central', 'Central Europe and the Baltics', 
             'Caribbean small states', 'East Asia & Pacific (excluding high income)', 
             'Early-demographic dividend', 'East Asia & Pacific', 'Europe & Central Asia (excluding high income)', 
             'Europe & Central Asia', 'Euro area', 'European Union', 'Fragile and conflict affected situations', 
             'High income', 'Heavily indebted poor countries (HIPC)', 'IBRD only', 'IDA & IBRD total', 'IDA total', 
             'IDA blend', 'IDA only', 'Not classified', 'Latin America & Caribbean (excluding high income)', 
             'Latin America & Caribbean', 'Least developed countries: UN classification', 'Low income', 
             'Lower middle income', 'Low & middle income', 'Late-demographic dividend', 'Middle East & North Africa', 
             'Middle income', 'Middle East & North Africa (excluding high income)', 'North America', 'OECD members', 
             'Other small states', 'Pre-demographic dividend', 'Pacific island small states', 'Post-demographic dividend', 
             'Sub-Saharan Africa (excluding high income)', 'Sub-Saharan Africa', 'Small states', 
             'East Asia & Pacific (IDA & IBRD countries)', 'Europe & Central Asia (IDA & IBRD countries)', 
             'Latin America & the Caribbean (IDA & IBRD countries)', 'Middle East & North Africa (IDA & IBRD countries)', 
             'South Asia (IDA & IBRD)', 'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income', 'World', 
             'South Asia']

In [19]:
non_country_names = df_clean[df_clean['Country Name'].isin(drop_rows)]
non_country_names

,Country Name,Country Code,Region,IncomeGroup,Indicator Name,Indicator Code,1990,1991,1992,1993,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,Africa Eastern and Southern,AFE,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,61.625965,62.876319,64.636541,65.291676,...,61.252554,62.564529,62.293842,61.109554,60.468838,60.803934,61.097264,NaN,NaN,NaN
3,Africa Western and Central,AFW,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,86.082214,85.443014,83.983071,85.305307,...,82.615425,80.933623,79.525293,79.071007,77.544229,76.276143,76.967527,NaN,NaN,NaN
7,Arab World,ARB,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,7.344358,7.284093,6.912966,6.737793,...,5.035353,4.786074,4.658074,4.240290,4.301413,4.179762,4.080760,NaN,NaN,NaN
36,Central Europe and the Baltics,CEB,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,4.142354,4.795174,5.380893,7.214146,...,13.751427,14.541560,14.744128,15.684259,16.656570,17.063872,17.120139,NaN,NaN,NaN
49,Caribbean small states,CSS,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,10.273789,9.039717,10.344237,11.669509,...,7.855810,7.709198,8.720716,8.261986,7.388844,6.922544,6.907744,NaN,NaN,NaN
61,East Asia & Pacific (excluding high income),EAP,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,36.997406,36.303304,35.945328,34.566435,...,17.116919,15.699389,14.597219,14.664944,14.659231,15.037225,14.894643,NaN,NaN,NaN
62,Early-demographic dividend,EAR,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,37.071102,36.584663,36.469449,36.132077,...,27.122676,26.522378,25.890315,25.157207,25.232119,24.357457,23.934984,NaN,NaN,NaN
63,East Asia & Pacific,EAS,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,26.196254,25.765811,25.328606,24.585475,...,14.135058,13.159143,12.432295,12.540912,12.651730,13.116829,13.092274,NaN,NaN,NaN
64,Europe & Central Asia (excluding high income),ECA,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,4.042819,4.145023,4.481847,4.868276,...,5.894348,6.020626,5.529542,5.755700,6.248692,5.935538,6.307842,NaN,NaN,NaN
65,Europe & Central Asia,ECS,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,5.706920,5.868787,6.226814,6.642125,...,10.510408,10.983409,10.831462,11.713402,12.424051,12.593485,13.030476,NaN,NaN,NaN
68,Euro area,EMU,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,6.499472,6.709472,6.798441,6.907459,...,12.437192,13.231562,13.394966,14.834272,15.624725,16.248797,16.212301,NaN,NaN,NaN
73,European Union,EUU,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,6.895465,7.184663,7.465088,7.894856,...,13.694565,14.520748,14.731722,16.159103,16.881354,17.544724,17.676366,NaN,NaN,NaN
74,Fragile and conflict affected situations,FCS,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,57.269017,57.960335,59.876214,60.404916,...,62.233442,60.339228,60.938935,59.893868,59.943407,59.784765,63.218929,NaN,NaN,NaN
95,High income,HIC,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,6.413609,6.600225,6.711624,6.634023,...,9.413578,9.632090,10.104066,10.619575,11.043251,11.265833,11.356912,NaN,NaN,NaN
98,Heavily indebted poor countries (HIPC),HPC,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,85.991263,86.899313,87.424430,87.935399,...,80.662773,79.576302,78.793652,78.003299,78.014187,77.670159,76.897096,NaN,NaN,NaN
102,IBRD only,IBD,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,23.014929,23.157246,23.803813,24.064792,...,18.415067,17.620326,16.826794,16.713249,16.756756,16.653247,16.576134,NaN,NaN,NaN
103,IDA & IBRD total,IBT,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,27.604034,27.804153,28.620895,28.952626,...,23.989631,23.117067,22.299107,22.151081,22.188282,22.042268,22.045576,NaN,NaN,NaN
104,IDA total,IDA,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,67.137540,67.224585,68.378775,68.988499,...,67.621449,67.150947,66.265731,66.189857,66.567556,65.774530,66.025912,NaN,NaN,NaN
105,IDA blend,IDB,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,59.282152,59.003998,59.577656,59.646337,...,62.884359,62.914165,61.452081,61.828534,62.141335,60.820677,61.683327,NaN,NaN,NaN
107,IDA only,IDX,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,75.454072,76.124055,78.070583,79.544910,...,72.174722,71.210537,70.936219,70.563431,70.804530,70.400454,70.099409,NaN,NaN,NaN
110,Not classified,INX,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,Latin America & Caribbean (excluding high income),LAC,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,34.629341,33.819420,33.350538,32.943911,...,31.052803,30.470028,29.670655,29.038821,28.806688,28.970507,29.157222,NaN,NaN,NaN
134,Latin America & Caribbean,LCN,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,32.439162,31.881470,31.638714,31.042068,...,29.471947,28.566880,28.201681,27.546699,27.594465,27.427393,27.944871,NaN,NaN,NaN
135,Least developed countries: UN classification,LDC,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,86.050319,86.437652,86.719070,87.127811,...,77.350046,76.012306,75.301224,74.544148,74.089802,73.434810,73.375573,NaN,NaN,NaN
136,Low income,LIC,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,59.667729,60.955935,63.484187,65.392183,...,69.441559,69.329967,71.450285,72.693434,74.631990,74.351481,76.942140,NaN,NaN,NaN
139,Lower middle income,LMC,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,43.609812,43.163120,43.813950,44.938141,...,38.231239,37.355547,36.602960,36.158914,35.750919,34.624005,33.968443,NaN,NaN,NaN
140,Low & middle income,LMY,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,28.138727,28.335405,29.178354,29.492169,...,24.210243,23.353082,22.480611,22.325379,22.329190,22.214359,22.177282,NaN,NaN,NaN
142,Late-demographic dividend,LTE,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,19.569854,19.752601,20.476461,20.645933,...,15.094027,14.261375,13.586764,13.724096,13.772749,14.003443,14.046773,NaN,NaN,NaN
153,Middle East & North Africa,MEA,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,2.859288,2.786631,2.700649,2.682570,...,1.936411,1.889130,1.835723,1.621084,1.646206,1.557814,1.523319,NaN,NaN,NaN
156,Middle income,MIC,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,26.940928,27.099848,27.877349,28.141234,...,22.523880,21.688248,20.794691,20.703241,20.646924,20.506537,20.440419,NaN,NaN,NaN
161,Middle East & North Africa (excluding high inc...,MNA,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,4.043213,3.930851,3.780211,3.799988,...,2.714263,2.701726,2.634232,2.598860,2.633160,2.490785,2.466341,NaN,NaN,NaN
170,North America,NAC,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,6.157156,6.447523,6.662215,6.221307,...,9.028890,8.985745,9.870427,10.239001,10.575957,10.678374,10.525868,NaN,NaN,NaN
181,OECD members,OED,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,7.220897,7.364893,7.482935,7.423763,...,10.225925,10.478041,10.967187,11.532183,12.015863,12.249294,12.372291,NaN,NaN,NaN
183,Other small states,OSS,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,26.950029,27.779992,30.207671,30.388066,...,31.080792,30.938075,28.660991,26.115152,28.767960,26.690851,26.976085,NaN,NaN,NaN
191,Pre-demographic dividend,PRE,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,78.283356,79.698264,77.963006,78.305695,...,77.742565,75.782461,74.132949,73.247424,72.415701,72.694557,73.726969,NaN,NaN,NaN
197,Pacific island small states,PSS,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,47.700166,52.622382,47.727036,47.963335,...,31.790696,28.242567,29.935504,30.442240,30.682411,30.873194,30.349539,NaN,NaN,NaN
198,Post-demographic dividend,PST,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,6.344831,6.529914,6.646402,6.525873,...,9.659431,9.931272,10.410295,11.023734,11.495403,11.828090,11.980723,NaN,NaN,NaN
204,South Asia,SAS,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,60.004701,59.242763,58.659164,58.166853,...,43.887766,42.976216,42.273029,41.283531,40.513676,38.566845,36.880696,NaN,NaN,NaN
215,Sub-Saharan Africa (excluding high income),SSA,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,71.143767,71.802316,72.436504,73.345647,...,69.794853,70.133451,69.414592,68.687847,67.582528,67.144583,67.624604,NaN,NaN,NaN
217,Sub-Saharan Africa,SSF,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,71.134637,71.791139,72.425606,73.333895,...,69.769070,70.112989,69.401623,68.669023,67.567048,67.128842,67.608723,NaN,NaN,NaN
218,Small states,SST,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,23.999129,24.832201,26.782388,27.425566,...,26.957824,26.856208,25.162100,23.028079,25.076006,23.403277,23.719081,NaN,NaN,NaN
230,East Asia & Pacific (IDA & IBRD countries),TEA,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,38.039122,37.211555,36.732873,35.228009,...,17.155018,15.714818,14.579571,14.649544,14.625690,15.013599,14.869025,NaN,NaN,NaN
231,Europe & Central Asia (IDA & IBRD countries),TEC,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,4.065451,4.183626,4.479891,5.090373,...,6.352630,6.541817,6.115343,6.373438,6.900458,6.606022,6.989087,NaN,NaN,NaN
236,Latin America & the Caribbean (IDA & IBRD coun...,TLA,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,32.228948,31.599077,31.310622,30.922883,...,29.844754,28.951072,28.517634,27.833792,27.888093,27.653189,28.211042,NaN,NaN,NaN
238,Middle East & North Africa (IDA & IBRD countries),TMN,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,3.977313,3.867290,3.720297,3.740641,...,2.666911,2.660704,2.591860,2.561464,2.597668,2.450085,2.423834,NaN,NaN,NaN
240,South Asia (IDA & IBRD),TSA,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,60.004701,59.242763,58.659164,58.166853,...,43.887766,42.976216,42.273029,41.283531,40.513676,38.566845,36.880696,NaN,NaN,NaN
241,Sub-Saharan Africa (IDA & IBRD countries),TSS,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,71.134637,71.791139,72.425606,73.333895,...,69.769070,70.112989,69.401623,68.669023,67.567048,67.128842,67.608723,NaN,NaN,NaN
249,Upper middle income,UMC,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,19.577590,19.763841,20.382427,20.386185,...,14.615428,13.975748,13.156737,13.214734,13.316129,13.585361,13.772634,NaN,NaN,NaN
259,World,WLD,NaN,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,17.067154,17.223819,17.584334,17.598437,...,17.497918,17.149640,17.082845,17.269446,17.480639,17.571792,17.637256,NaN,NaN,NaN

In [20]:
idx = list(non_country_names.index)

In [21]:
df_clean = df_clean.drop(idx)

#### Test

In [22]:
df_clean[df_clean['Country Name'].isin(drop_rows)]

Empty DataFrame
Columns: [Country Name, Country Code, Region, IncomeGroup, Indicator Name, Indicator Code, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
Index: []

[0 rows x 35 columns]

In [23]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 217 entries, 0 to 265
Data columns (total 35 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    217 non-null    object
 1   Country Code    217 non-null    object
 2   Region          217 non-null    object
 3   IncomeGroup     216 non-null    object
 4   Indicator Name  217 non-null    object
 5   Indicator Code  217 non-null    object
 6   1990            197 non-null    float64
 7   1991            198 non-null    float64
 8   1992            203 non-null    float64
 9   1993            203 non-null    float64
 10  1994            203 non-null    float64
 11  1995            204 non-null    float64
 12  1996            204 non-null    float64
 13  1997            204 non-null    float64
 14  1998            204 non-null    float64
 15  1999            204 non-null    float64
 16  2000            213 non-null    float64
 17  2001            213 non-null    float64
 18  2002            213 non-null    float64
 19  2003            213 non-null    float64
 20  2004            213 non-null    float64
 21  2005            213 non-null    float64
 22  2006            213 non-null    float64
 23  2007            213 non-null    float64
 24  2008            213 non-null    float64
 25  2009            213 non-null    float64
 26  2010            213 non-null    float64
 27  2011            213 non-null    float64
 28  2012            213 non-null    float64
 29  2013            213 non-null    float64
 30  2014            213 non-null    float64
 31  2015            213 non-null    float64
 32  2016            213 non-null    float64
 33  2017            213 non-null    float64
 34  2018            213 non-null    float64
dtypes: float64(29), object(6)
memory usage: 61.0+ KB

#### Missing Values in IncomeGroup

#### Code
Fill in the missing value in the IncomeGroup column with the mode.

In [24]:
df_clean[df_clean['IncomeGroup'].isnull()]

,Country Name,Country Code,Region,IncomeGroup,Indicator Name,Indicator Code,1990,1991,1992,1993,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
254,"Venezuela, RB",VEN,Latin America & Caribbean,NaN,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,11.97733,13.193556,14.106694,13.185523,...,16.213301,13.791,14.7572,13.7064,15.288,12.0042,15.3294,14.5054,14.3104,14.5647

In [25]:
mode = df_clean['IncomeGroup'].mode()

In [26]:
df_clean['IncomeGroup'].value_counts()

High income            79
Upper middle income    55
Lower middle income    55
Low income             27
Name: IncomeGroup, dtype: int64

In [27]:
mode[0]

'High income'

In [28]:
df_clean['IncomeGroup'].fillna(mode[0], inplace = True)

#### Test

In [29]:
df_clean[df_clean['IncomeGroup'].isnull()]

Empty DataFrame
Columns: [Country Name, Country Code, Region, IncomeGroup, Indicator Name, Indicator Code, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
Index: []

[0 rows x 35 columns]

In [30]:
df_clean[df_clean['Country Name'] == 'Venezuela, RB']

,Country Name,Country Code,Region,IncomeGroup,Indicator Name,Indicator Code,1990,1991,1992,1993,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
254,"Venezuela, RB",VEN,Latin America & Caribbean,High income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,11.97733,13.193556,14.106694,13.185523,...,16.213301,13.791,14.7572,13.7064,15.288,12.0042,15.3294,14.5054,14.3104,14.5647

#### Wrong spelling of some country names = ['Yemen, Rep.', 'Venezuela, RB', 'Korea, Rep.', 'Iran, Islamic Rep.', 'Gambia, The', 'Egypt, Arab Rep.', 'Congo, Rep.', 'Congo, Dem. Rep.', 'Bahamas, The', ]

#### Code
Replace wrongly spelt country names with the right spelling.

In [31]:
incorrect_country_names = ['Yemen, Rep.', 'Venezuela, RB', 'Korea, Rep.', 'Iran, Islamic Rep.', 'Gambia, The', 
                           'Egypt, Arab Rep.', 'Congo, Rep.', 'Congo, Dem. Rep.', 'Bahamas, The']

In [32]:
df_clean['Country Name'] = df_clean['Country Name'].str.replace('Yemen, Rep.', 'Yemen Rep.')
df_clean['Country Name'] = df_clean['Country Name'].str.replace('Venezuela, RB', 'Venezuela RB')
df_clean['Country Name'] = df_clean['Country Name'].str.replace('Korea, Rep.', 'Korea Rep.')
df_clean['Country Name'] = df_clean['Country Name'].str.replace('Iran, Islamic Rep.', 'Iran Islamic Rep.')
df_clean['Country Name'] = df_clean['Country Name'].str.replace('Gambia, The', 'Gambia')
df_clean['Country Name'] = df_clean['Country Name'].str.replace('Egypt, Arab Rep.', 'Egypt Arab Rep.')
df_clean['Country Name'] = df_clean['Country Name'].str.replace('Congo, Rep.', 'Congo Rep.')
df_clean['Country Name'] = df_clean['Country Name'].str.replace('Congo, Dem. Rep.', 'Congo Dem. Rep.')
df_clean['Country Name'] = df_clean['Country Name'].str.replace('Bahamas, The', 'The Bahamas')

#### Test

In [33]:
df_clean[df_clean['Country Name'] == 'Yemen Rep.']

,Country Name,Country Code,Region,IncomeGroup,Indicator Name,Indicator Code,1990,1991,1992,1993,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
262,Yemen Rep.,YEM,Middle East & North Africa,Low income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,2.148638,1.709434,1.580226,1.79212,...,0.8774,0.9786,1.1555,1.3517,0.9459,0.9556,2.4195,2.9861,3.4013,4.269

In [34]:
df_clean[df_clean['Country Name'] == 'Venezuela RB']

,Country Name,Country Code,Region,IncomeGroup,Indicator Name,Indicator Code,1990,1991,1992,1993,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
254,Venezuela RB,VEN,Latin America & Caribbean,High income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,11.97733,13.193556,14.106694,13.185523,...,16.213301,13.791,14.7572,13.7064,15.288,12.0042,15.3294,14.5054,14.3104,14.5647

In [35]:
df_clean[df_clean['Country Name'] == 'Korea Rep.']

,Country Name,Country Code,Region,IncomeGroup,Indicator Name,Indicator Code,1990,1991,1992,1993,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
126,Korea Rep.,KOR,East Asia & Pacific,High income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,1.631947,0.955805,0.75292,0.725979,...,1.2069,1.315,1.3476,1.6143,1.9151,2.8677,2.744,2.5498,2.8445,3.184

In [36]:
df_clean[df_clean['Country Name'] == 'Iran Islamic Rep.']

,Country Name,Country Code,Region,IncomeGroup,Indicator Name,Indicator Code,1990,1991,1992,1993,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
112,Iran Islamic Rep.,IRN,Middle East & North Africa,Lower middle income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,1.23836,1.226917,1.449471,1.528147,...,0.7819,0.8973,0.9167,0.9296,0.9904,0.9341,0.9069,1.0443,0.9701,0.995

In [37]:
df_clean[df_clean['Country Name'] == 'Gambia']

,Country Name,Country Code,Region,IncomeGroup,Indicator Name,Indicator Code,1990,1991,1992,1993,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
86,Gambia,GMB,Sub-Saharan Africa,Low income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,61.44187,61.801672,62.935594,62.679798,...,53.426701,56.000099,55.654499,56.355598,58.701302,52.679699,52.911499,52.728001,52.2062,52.383598

In [38]:
df_clean[df_clean['Country Name'] == 'Egypt Arab Rep.']

,Country Name,Country Code,Region,IncomeGroup,Indicator Name,Indicator Code,1990,1991,1992,1993,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
67,Egypt Arab Rep.,EGY,Middle East & North Africa,Lower middle income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,8.502466,9.052035,8.715058,8.839283,...,5.6722,5.33,5.2998,5.2898,5.283,5.338,5.116,4.9169,4.854,4.7444

In [39]:
df_clean[df_clean['Country Name'] == 'Congo Rep.']

,Country Name,Country Code,Region,IncomeGroup,Indicator Name,Indicator Code,1990,1991,1992,1993,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
44,Congo Rep.,COG,Sub-Saharan Africa,Lower middle income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,65.413787,64.562679,67.602869,68.412749,...,56.029499,54.798599,64.617302,65.304398,62.481701,62.160702,64.150803,67.612701,69.334396,69.854599

In [40]:
df_clean[df_clean['Country Name'] == 'Congo Dem. Rep.']

,Country Name,Country Code,Region,IncomeGroup,Indicator Name,Indicator Code,1990,1991,1992,1993,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
43,Congo Dem. Rep.,COD,Sub-Saharan Africa,Low income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,92.047732,95.138812,95.875234,96.113273,...,97.019302,96.802498,96.209602,95.4748,93.917603,92.872299,95.818298,97.031097,96.699799,96.383698

In [41]:
df_clean[df_clean['Country Name'] == 'The Bahamas']

,Country Name,Country Code,Region,IncomeGroup,Indicator Name,Indicator Code,1990,1991,1992,1993,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
23,The Bahamas,BHS,Latin America & Caribbean,High income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,0.0,0.0,0.0,0.0,...,1.8312,1.653,1.4246,1.1821,0.9554,1.1415,1.5406,1.5346,1.4438,1.0193

#### The year columns (1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018) should infact be one column; the Energy consumption column.

#### Code
Use the pd.melt() function to convert the year columns to one column containing the energy consumption values.

In [42]:
df_clean = pd.melt(df_clean, id_vars = ['Country Name', 'Country Code', 'Region', 'IncomeGroup', 'Indicator Name', 'Indicator Code'], 
                  var_name = 'Year', value_name = 'Energy_Consump.')

In [43]:
df_clean[df_clean['Energy_Consump.'].isnull()]

,Country Name,Country Code,Region,IncomeGroup,Indicator Name,Indicator Code,Year,Energy_Consump.
34,Channel Islands,CHI,Europe & Central Asia,High income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,1990,NaN
58,Eritrea,ERI,Sub-Saharan Africa,Low income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,1990,NaN
66,"Micronesia, Fed. Sts.",FSM,East Asia & Pacific,Lower middle income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,1990,NaN
88,Isle of Man,IMN,Europe & Central Asia,High income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,1990,NaN
102,Cambodia,KHM,East Asia & Pacific,Lower middle income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,1990,NaN
...,...,...,...,...,...,...,...,...
6033,San Marino,SMR,Europe & Central Asia,High income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,2017,NaN
6110,Channel Islands,CHI,Europe & Central Asia,High income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,2018,NaN
6195,St. Martin (French part),MAF,Latin America & Caribbean,High income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,2018,NaN
6197,Monaco,MCO,Europe & Central Asia,High income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,2018,NaN
6250,San Marino,SMR,Europe & Central Asia,High income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,2018,NaN

In [44]:
df_clean.dropna(inplace = True)

#### Test

In [45]:
df_clean.head()

,Country Name,Country Code,Region,IncomeGroup,Indicator Name,Indicator Code,Year,Energy_Consump.
0,Aruba,ABW,Latin America & Caribbean,High income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,1990,0.268747
1,Afghanistan,AFG,South Asia,Low income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,1990,15.924532
2,Angola,AGO,Sub-Saharan Africa,Lower middle income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,1990,72.255252
3,Albania,ALB,Europe & Central Asia,Upper middle income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,1990,25.518088
4,Andorra,AND,Europe & Central Asia,High income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,1990,14.273550

In [46]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6071 entries, 0 to 6292
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country Name     6071 non-null   object
 1   Country Code     6071 non-null   object
 2   Region           6071 non-null   object
 3   IncomeGroup      6071 non-null   object
 4   Indicator Name   6071 non-null   object
 5   Indicator Code   6071 non-null   object
 6   Year             6071 non-null   object
 7   Energy_Consump.  6071 non-null   float64
dtypes: float64(1), object(7)
memory usage: 426.9+ KB

In [47]:
df_clean.Year.unique()

array(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018'], dtype=object)

In [48]:
df_clean

,Country Name,Country Code,Region,IncomeGroup,Indicator Name,Indicator Code,Year,Energy_Consump.
0,Aruba,ABW,Latin America & Caribbean,High income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,1990,0.268747
1,Afghanistan,AFG,South Asia,Low income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,1990,15.924532
2,Angola,AGO,Sub-Saharan Africa,Lower middle income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,1990,72.255252
3,Albania,ALB,Europe & Central Asia,Upper middle income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,1990,25.518088
4,Andorra,AND,Europe & Central Asia,High income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,1990,14.273550
...,...,...,...,...,...,...,...,...
6288,Kosovo,XKX,Europe & Central Asia,Upper middle income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,2018,26.902000
6289,Yemen Rep.,YEM,Middle East & North Africa,Low income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,2018,4.269000
6290,South Africa,ZAF,Sub-Saharan Africa,Upper middle income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,2018,10.343300
6291,Zambia,ZMB,Sub-Saharan Africa,Lower middle income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,2018,85.104599
6292,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,2018,81.363602

In [49]:
#df_clean.to_csv('WorldBank Renewable Energy Consumption.csv', index = False)